certifi
charset-normalizer
confluent-kafka
databricks-sql-connector[pyarrow]
et_xmlfile
Faker
idna
joblib
lz4
numpy
oauthlib
openpyxl
pandas
psutil
pybreaker
PyJWT
python-dateutil
python-dotenv
pytz
requests
scikit-learn
scipy
six
threadpoolctl
thrift
tzdata
urllib3

# --- Sprint 3 AI & Agent Dependencies ---
google-genai
langchain
langchain-core
langchain-google-genai
langchain-community
chromadb
sentence-transformers
langchain-huggingface
langchain-ollama

fastapi